:root {
    --primary-color: #b53c83;
    --secondary-color: #fe5dc6;
    --accent-color: #200f1c;
    --background-color: #ecf0f1;
  }
.main1 {
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
    
}

h2 {
    color: var(--secondary-color);
    transition: color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.main1 {
    padding: 5px;
    transition: padding 1s ease;
}
.main1:hover {
            background-color: var(--primary-color); 
            color: white;
            padding: 15px;
            transition: padding 1s ease;
}

.main2 {
    padding: 5px;
    transition: padding 1s ease;
}



.main1:hover h2 {
    color: white;
}

.main2 {
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.main2:hover {
            background-color: var(--primary-color); 
            color: white ;
            padding: 15px;
            transition: padding 1s ease;
            
}
  body {
    margin: 0;
    padding: 0;
    height: 100%;
}

  header {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    width: 100%;
    color: white;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: azure;
    padding: 1px;
    position:FIXED;
width:100%;
bottom:0;
left: 0;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 30px;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

ul li:hover {
    transform: scale(1.2); 
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.9); 
    

  }

a {
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 3px; 
    background-color: white; 
    color: var(--secondary-color); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
    transition: background-color 0.3s ease, color 0.3s ease;
   
}

a:hover {
    background-color: var(--primary-color);
    color: white;
}

/* .headers {
    margin-left: 10px;
    color: var(--secondary-color)
} */


/* .paragraphs {
    margin-left: 10px;
    color: var(--accent-color)

} */

/* 
h2 {
    padding: 10px;
    color: var(--secondary-color);
} */



img {
    max-width:25%;
    height:auto;
    float: left;
    padding: 10px;
 }

